@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body{
    font-family: 'IBM Plex Serif', serif;
    margin: 0px
}

:root {
    --primary-color: #63A817;
    --secondary-color: ;
    --bg-color: #F4F7F1 ;
}

hr{
    margin: 2rem 0rem ;
}
.container {
    padding: 1rem 0rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding:0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color:white;
    
}

.link-secondary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 1rem;
}

.list{
    list-style: none;
}

.list-inline {
    display:inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: #63A817;
    color: white;
    padding: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .navigation-name {
    font-weight: bold;
}
.navigation .nav-links {
    text-decoration: none;
    color:white;

}
.navigation .nav-tabs {
    text-align:right;
}